@import "react-image-gallery/styles/css/image-gallery.css";

* {
  box-sizing: border-box;
}

body {
  font-family: "Cairo", sans-serif !important;
  margin: 0;
}

html {
  scroll-behavior: smooth;
}

ul {
  list-style: none;
}

.pagination-tag-anchor {
  width: 20px;
  height: 20px;
  display: inline-block;
  text-align: center;
  line-height: 20px;
  font-size: 12px;
}

.pagination-tag-anchor:hover {
  background-color: #eee;
}

.bg-section {
  background-image: url(./Assets/BackGround.jpg);

  background-position: center;
  background-size: cover;
}
